<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
    I am a <strong>PhD candidate in Sociology at the University of California</strong>, Los Angeles. My research is situated in the fields of <strong>urban sociology</strong>, <strong>race</strong> and <strong>ethnicity</strong>, and <strong>Asian American</strong> studies. I study how community groups and neighborhoods participate in local politics to influence policies on redevelopment and policing. This work studies the dynamics between community members and the government over the community’s power to shape their own neighborhoods and how competing interests within a community negotiate whose needs should be prioritized. I also study how political and urban sociology theories apply to Asian American communities and neighborhoods. 
    </p>

    <p>
Before coming to UCLA, I worked as a research analyst in the
      <a class="underline-link" href="https://www.urban.org/policy-centers/income-and-benefits-policy-center" target="_blank">Urban Institute’s Income and Benefits Policy Center</a>. I received my BA in Leadership and Public Policy at the University of Virginia.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
