<section class="section other-projects">
  <div class="section__title">Other Projects</div>
  <div class="section__content">
    <div class="project">
      <div class="project__name">
          <a href="https://myprojecturl.com" target="_blank" class="arrow-link">The limits of imperial incorporation: Alternative sociological frameworks to study Asian American subjects</a>
      </div>
        <strong>Co-author:</strong> <a href="https://myprojectcoauthor.com" class="highlight-link">Kathy Truong</a>
      <p>lajljasljdf aksdjflajsflkdjalfjdslkjf description </p>
        <p><strong>yo sup i presented here</strong></p>
    </div>
    <div class="project">
      <div class="project__name">
          <a href="https://myprojecturl.com" target="_blank" class="arrow-link">My Project Name</a>
      </div>
        <strong>Co-author:</strong> <a href="https://myprojectcoauthor.com" class="highlight-link">Kathy Truong</a>
      <p>lajljasljdf aksdjflajsflkdjalfjdslkjf description </p>
        <p><strong>yo sup i presented here</strong></p>
    </div>
  </div>
</section>
