<section class="section other-projects">
  <div class="section__title">Other Projects</div>
  <div class="section__content">
    {% for project in site.data.other-projects %}
    <div class="project">
      <div class="project__name">
        {% if project.url %}
          <a href="{{project.url}}" target="_blank" class="arrow-link">{{project.name}}</a>
        {% else %}
          <strong>{{project.name}}</strong>
        {% endif %}
      </div>
      {% if project.coauthor %}
        <strong>Co-author:</strong> <a href="{{project.coauthor.url}}" class="highlight-link">{{project.coauthor.name}}</a>
      {% endif %}
      <p>{{project.description}}</p>
      {% if project.presentation %}
        <p><strong>{{project.presentation}}</strong></p>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
